/JojaMarket/target
/JojaMarket/JojaWarehouse/target
/JojaMarket/JojaStorehouse/target
/JojaMarket/JojaLab/target
/JojaMarket/JojaLabXml/target
/JojaMarket/JojaJdbcTemplate/target
/JojaMarket/JojaTransaction/target
